body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
    padding: 3rem;
}

a {
    color: #00b7ff;
}

button {
    margin: 1rem;
    min-width: 9rem;
    padding: 0.5rem;
}

.preferences {
    margin-top: 2rem;
}
