<html>
    <head>
        <title>Edge Proxy</title>

        <link href="/stylesheets/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="/lib/infusion/src/framework/core/css/fluid.css" />
        <link rel="stylesheet" href="/lib/infusion/src/framework/preferences/css/Enactors.css" />
        <link rel="stylesheet" href="/lib/infusion/src/framework/preferences/css/PrefsEditor.css" />
        <link rel="stylesheet" href="/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css"/>

        <script src="/lib/infusion/dist/infusion-uio.js" defer></script>
        <script src="/javascripts/utils.js" defer></script>
        <script src="/javascripts/uio.js" defer></script>
        <script src="/javascripts/clientScript.js" defer></script>
    </head>

    <body>
        <!-- BEGIN markup for Preference Editor -->
        <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
            <!--
                This div is for the sliding panel bar that shows and hides the Preference Editor controls in the mobile view.
                A separate panel bar for mobile displays is needed to preserver the correct tab order.
            -->
            <div class="fl-panelBar fl-panelBar-smallScreen">
                <span class="fl-prefsEditor-buttons">
                    <button class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                    <button class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
                </span>
            </div>

            <!-- This is the div that will contain the Preference Editor component -->
            <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

            <!--
                This div is for the sliding panel bar that shows and hides the Preference Editor controls in the desktop view.
                A separate panel bar for desktop displays is needed to preserver the correct tab order.
            -->
            <div class="fl-panelBar fl-panelBar-wideScreen">
                <span class="fl-prefsEditor-buttons">
                    <button class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                    <button class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
                </span>
            </div>
        </div>
        <!-- END markup for Preference Editor -->

        <main>
            <div class="flc-toc-tocContainer toc"> </div>

            <h1>Edge Proxy Example</h1>
            <p>The example is to to use UIOptions with Personal Data Server. The Personal Data Server allows the user
                to save and load interface preferences which have been applied to websites using UIOptions.</p>
            <p>Prerequisite: Personal Data Server should be running at <code>http://localhost:3000</code>.
                Refer to <a href="https://github.com/fluid-project/personal-data-server">Personal Data Server Documentation</a>
                about how to start Personal Data Server locally.
            </p>
            <h2>How to use:</h2>
            <ol>
                <li>Click "Login to Personal Data Server Using a Google Account" to log in to Personal Data Server</li>
                <li>Once logged in successfully, the user’s saved preferences will be fetched from the Personal Data
                    Server and merged with any local preferences that the user selected before logging in.</li>
                <li>Any changes you make to preferences will now be automatically saved to the Personal Data Server.</li>
                <li>Click "Logout" to log out of Personal Data Server. The UIOptions preferences are restored to those
                    in effect before logging in.</li>
            </ol>

            <button id="login">Login to Personal Data Server Using a Google Account</button>
            <button id="logout">Logout</button>

            <div id="message" role="region" aria-live="polite"></div>
        </main>
    </body>
</html>
